header{
    background-color: #1F2937;
    color: white;
}

a{
    text-decoration: none;
}



/* main navbar */

.mainnav{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 220px;
}

.nav-items{
    color: #E5E7EB;
    font-size: 18px;
}

.nav-items:hover{
border-bottom: #E5E7EB 1px solid;
}

#head-logo{
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

/* header section */

.header-sec{
    display: flex;
    
    gap: 50px;
    padding: 80px 220px;

}

.header-items{
    flex: 1;
}



/* header text */

#hero-text{
    color: #F9FAF8;
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
}

#hero-two{
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 30px;
}

#sign-up{
    color: #F9FAF8;
    font-weight: 800;
    background-color: #3882F6;
    border: #3882F6 solid 1px;
    border-radius: 8px;
    padding: 10px 40px;
}

#sign-up:hover{
    background-color: #1F2937;
    color: #3882F6;
}


/* header image */

.header-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* section of posts */
.post-sec{
    margin: 55px 300px;
}

#head-information{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.posts{
    display: flex;
}

.posts-items{
    flex: 1;
    width: 200px;
    height: 200px;
}

.fig-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px #3882F6 solid;
    border-radius: 15px;
}

.fig-cap{
    color: gray;
    text-align: center;
    margin-top: 8px;
}